/* --------------------Шрифты------------------------- */
@font-face {
    font-family: Circe;
    src: url(../fonts/Circe-Regular.ttf) format(truetype);
}
@font-face {
    font-family: Plumb;
    src: url(../fonts/plumb-regular.otf ) format(opentype);
}
@font-face {
    font-family: Plumb-bold;
    src: url(../fonts/plumb-bold.otf) format(opentype);
}
/* --------------------------------------------------- */

* {
    // border: 1px solid red;
    margin: 0;
    padding: 0;
}

/* -------------------НАВИГАЦИЯ----------------------- */
.wrapper_header {
    background-image: url(../images/bg_img.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 633px;
    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 20px;
    }
    #burger, [for=burger] {
        display: none;
    }
    .logo {
        color: white;
        margin-left: 145px;
    }
    .nav-list>ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        margin-right: 50px;
    }
    .nav-list>ul>li>a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-family: Circe;
        margin-right: 50px;
    }
    .nav-list>ul>li>a:hover {
        border-bottom: 2px solid #2378FC;
        padding: 1px;
    }
    .search {
        margin-left: 80px
    }
    hr {
        margin-top: 13px;
        color: white;
        opacity: 0.5;
    }
}
/* --------------------------------------------------- */

/* ----------------НАВИГАЦИЯ (БЛОКИ)------------------ */
.grid {
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns: 340px 210px 210px;
    grid-template-rows: 130px 120px 120px;
    gap: 30px;
    margin-top: 80px;
    margin-bottom: 50px;
    .grid_item_title {
        display: flex;
        align-items: end;
    }
    .title {
        font-family: Plumb-bold;
        font-size: 50px;
        color: white;
    }
    .grid_item_title_two>.p_one {
        color: white;
        font-size: 24px;
        font-family: 'Circe';
    }
    .grid_item_title_two>.p_two {
        color: white;
        font-size: 16px;
        font-family: 'Circe';
    }
    .grid_item_blue {
        display: flex;
        flex-direction: column;
        background-color: #2378FC;
        font-family: 'Plumb';
        justify-content: center;
    }
    .grid_item_blue>a {
        text-decoration: none;
        color: white;
    }
    .p_three {
        margin-left: 40px;
        font-size: 18px;
        font-weight: 500;
    }
    .p_four {
        margin-left: 40px;
        font-size: 12px;
        font-weight: 400;
        margin-top: 15px;
    }
    .grid_item_green {
        display: flex;
        flex-direction: column;
        background-color: #30BCC9;
        font-family: 'Plumb';
        justify-content: center;
    }
    .grid_item_green>a {
        text-decoration: none;
        color: white;
    }
    .grid_item_yellow {
        display: flex;
        flex-direction: column;
        background-color: #FFC41E;
        font-family: 'Plumb';
        justify-content: center;
    }
    .grid_item_yellow>a {
        text-decoration: none;
        color: white;
    }
    .grid_item_red {
        display: flex;
        flex-direction: column;
        background-color: #F6404F;
        font-family: 'Plumb';
        justify-content: center;
    }
    .grid_item_red>a {
        text-decoration: none;
        color: white;
    }
}
/* --------------------------------------------------- */

/* ------------------BLUE BLOCK---------------------   */
.wrapper_blue_block {
    background-color: #2378FC;
    color: white;
    &_h1 {
        font-family: Plumb;
        font-size: 30px;
        margin-bottom: 30px;
    }
    p>a {
        color: white;
        text-decoration: none;
    }
    p>a:hover {
        border-bottom: 2px solid white;
        padding: 1px;
    }
    p>a:visited {
        color: white;
    }
    p {
        font-family: Circe;
        font-size: 16px;
        margin-bottom: 15px;
    }
    ul {
        display: flex;
        justify-content: space-around;
        margin: 0 200px;
    }
    li {
        margin-top: 48px;
        margin-bottom: 102px;
        list-style-type: none;
    }
}
/* --------------------------------------------------- */

/* --------------------YELLOW BLOCK------------------- */
.wrapper_yellow_block {
    overflow: hidden;
    position: relative;
    min-height: 100%;
    .events {
        background-color: #FFC41E;
        padding: 75px 0;
        .container {
            width: 100%;
            max-width: 1170px;
            margin: 0 auto;
            padding: 0 15px;
        }
        &_title {
            font-size: 30px;
            margin-bottom: 55px;
            font-family: Plumb;
            .link {
                margin-left: 40%;
                color: #2E373B;
                font-size: 21px;
                font-family: Plumb;
            }
        }
        &_lists {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
        }
        li {
            width: 31%;
            margin-bottom: 30px;
            list-style-type: none;
            h3 {
                margin: 10px 0px;
                color: #f6404f;
                font-size: 21px;
                font-family: Plumb;
                text-transform: uppercase;
            }
            h4 {
                margin: 10px 0px;
                color: #2E373B;
                font-size: 14px;
                font-family: Circe;
            }
            p {
                margin: 10px 0px;
                color: #2E373B;
                font-size: 16px;
                font-family: Circe;
            }
        }
        &_img-wrapp {
            width: 100%;
            height: 240px;
            overflow: hidden;
            margin-bottom: 20px;
        }
    }
}
/* --------------------------------------------------- */

  /* --------------ICE-CREAM (NEWS) BLOCK------------- */
  .wrapper_news_block {
    background-color: #FAF3E3;
    .news_grid {
        display: grid;
        width: 100%;
        justify-content: center;
        grid-template-columns: 460px 460px;
        padding-top: 85px;
        gap: 125px;
        .news_card_one_img1 {
            margin-bottom: 59px;
        }
        .news_title {
            font-family: Plumb;
            color: #2E373B;
            font-size: 30px;
            margin-bottom: 30px;
            .news_link {
                font-family: Plumb;
                color: #2E373B;
                font-size: 21px;
                text-decoration-line: underline;
                margin-left: 40%;
            }
        }
        .news_img_card {
            display: flex;
            margin-bottom: 38px;
            gap: 30px;
            align-items: center;
            br {
                margin-top: 14px;
            }
            .news_img {
                max-width: 160px;
                max-height: 120px;
                &_date {
                    font-family: Circe;
                    font-size: 14px;
                    color: #F6404F;
                }
                &_title {
                    font-family: Plumb;
                    font-size: 18px;
                    color: #2E373B;
                    font-weight: 700;
                }
            }
        }

    }
}
/* --------------------------------------------------- */

/* ----------------------FOOTER----------------------- */
.wrapper_footer {
    width: 100%;
    background-color: #30BCC9;
    .footer_blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 190px;
        .footer_block {
            max-width: 480px;
            height: 480px;
            ul {
                margin-top: 40px;
            }
            h2 {
                font-family: Plumb;
                font-size: 21px;
                color: white;
                margin-bottom: 20px;
            }
            li {
                font-family: Circe;
                font-size: 14px;
                color: #E0E0E0;
                margin-bottom: 10px;
                list-style-type: none;
            }
            a {
                color: #E0E0E0;
                text-decoration: none;
            }
            a:hover {
                border-bottom: 2px solid white;
                padding: 1px;
            }
            a:visited {
                color: #E0E0E0;
            }
            .social_network_links a {
                margin-right: 30px;
            }
            .footer_block ul li input {
                width: 215px;
                height: 40px;
                border: none;
            }
            input::placeholder {
                font-family: Circe;
                font-size: 12px;
                color: #9C9C9C;
                padding-left: 20px;
            }
            .input {
                display: flex;
            }
            .subscribe_btn {
                width: 40px;
                height: 40px;
                background-color: #F6404F;
            }
            .subscribe_btn:hover {
                border: 1px solid white;
                background: none;
                text-decoration-line: none;
                height: 37px;
                width: 37px;
            }
            .subscribe_btn img {
                margin-top: 12px;
                margin-bottom: 10px;
                margin-right: 10px;
                margin-left: 10px;
            }
        }
    }
}
/* --------------------------------------------------- */