@charset "UTF-8";
/* --------------------Шрифты------------------------- */
@font-face {
  font-family: Circe;
  src: url(../fonts/Circe-Regular.ttf) format(truetype);
}
@font-face {
  font-family: Plumb;
  src: url(../fonts/plumb-regular.otf) format(opentype);
}
@font-face {
  font-family: Plumb-bold;
  src: url(../fonts/plumb-bold.otf) format(opentype);
}
/* --------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

/* -------------------НАВИГАЦИЯ----------------------- */
.wrapper_header {
  background-image: url(../images/bg_img.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 633px;
}
.wrapper_header .nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}
.wrapper_header #burger, .wrapper_header [for=burger] {
  display: none;
}
.wrapper_header .logo {
  color: white;
  margin-left: 145px;
}
.wrapper_header .nav-list > ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-right: 50px;
}
.wrapper_header .nav-list > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: Circe;
  margin-right: 50px;
}
.wrapper_header .nav-list > ul > li > a:hover {
  border-bottom: 2px solid #2378FC;
  padding: 1px;
}
.wrapper_header .search {
  margin-left: 80px;
}
.wrapper_header hr {
  margin-top: 13px;
  color: white;
  opacity: 0.5;
}

/* --------------------------------------------------- */
/* ----------------НАВИГАЦИЯ (БЛОКИ)------------------ */
.grid {
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: 340px 210px 210px;
  grid-template-rows: 130px 120px 120px;
  gap: 30px;
  margin-top: 80px;
  margin-bottom: 50px;
}
.grid .grid_item_title {
  display: flex;
  align-items: end;
}
.grid .title {
  font-family: Plumb-bold;
  font-size: 50px;
  color: white;
}
.grid .grid_item_title_two > .p_one {
  color: white;
  font-size: 24px;
  font-family: "Circe";
}
.grid .grid_item_title_two > .p_two {
  color: white;
  font-size: 16px;
  font-family: "Circe";
}
.grid .grid_item_blue {
  display: flex;
  flex-direction: column;
  background-color: #2378FC;
  font-family: "Plumb";
  justify-content: center;
}
.grid .grid_item_blue > a {
  text-decoration: none;
  color: white;
}
.grid .p_three {
  margin-left: 40px;
  font-size: 18px;
  font-weight: 500;
}
.grid .p_four {
  margin-left: 40px;
  font-size: 12px;
  font-weight: 400;
  margin-top: 15px;
}
.grid .grid_item_green {
  display: flex;
  flex-direction: column;
  background-color: #30BCC9;
  font-family: "Plumb";
  justify-content: center;
}
.grid .grid_item_green > a {
  text-decoration: none;
  color: white;
}
.grid .grid_item_yellow {
  display: flex;
  flex-direction: column;
  background-color: #FFC41E;
  font-family: "Plumb";
  justify-content: center;
}
.grid .grid_item_yellow > a {
  text-decoration: none;
  color: white;
}
.grid .grid_item_red {
  display: flex;
  flex-direction: column;
  background-color: #F6404F;
  font-family: "Plumb";
  justify-content: center;
}
.grid .grid_item_red > a {
  text-decoration: none;
  color: white;
}

/* --------------------------------------------------- */
/* ------------------BLUE BLOCK---------------------   */
.wrapper_blue_block {
  background-color: #2378FC;
  color: white;
}
.wrapper_blue_block_h1 {
  font-family: Plumb;
  font-size: 30px;
  margin-bottom: 30px;
}
.wrapper_blue_block p > a {
  color: white;
  text-decoration: none;
}
.wrapper_blue_block p > a:hover {
  border-bottom: 2px solid white;
  padding: 1px;
}
.wrapper_blue_block p > a:visited {
  color: white;
}
.wrapper_blue_block p {
  font-family: Circe;
  font-size: 16px;
  margin-bottom: 15px;
}
.wrapper_blue_block ul {
  display: flex;
  justify-content: space-around;
  margin: 0 200px;
}
.wrapper_blue_block li {
  margin-top: 48px;
  margin-bottom: 102px;
  list-style-type: none;
}

/* --------------------------------------------------- */
/* --------------------YELLOW BLOCK------------------- */
.wrapper_yellow_block {
  overflow: hidden;
  position: relative;
  min-height: 100%;
}
.wrapper_yellow_block .events {
  background-color: #FFC41E;
  padding: 75px 0;
}
.wrapper_yellow_block .events .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.wrapper_yellow_block .events_title {
  font-size: 30px;
  margin-bottom: 55px;
  font-family: Plumb;
}
.wrapper_yellow_block .events_title .link {
  margin-left: 40%;
  color: #2E373B;
  font-size: 21px;
  font-family: Plumb;
}
.wrapper_yellow_block .events_lists {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.wrapper_yellow_block .events li {
  width: 31%;
  margin-bottom: 30px;
  list-style-type: none;
}
.wrapper_yellow_block .events li h3 {
  margin: 10px 0px;
  color: #f6404f;
  font-size: 21px;
  font-family: Plumb;
  text-transform: uppercase;
}
.wrapper_yellow_block .events li h4 {
  margin: 10px 0px;
  color: #2E373B;
  font-size: 14px;
  font-family: Circe;
}
.wrapper_yellow_block .events li p {
  margin: 10px 0px;
  color: #2E373B;
  font-size: 16px;
  font-family: Circe;
}
.wrapper_yellow_block .events_img-wrapp {
  width: 100%;
  height: 240px;
  overflow: hidden;
  margin-bottom: 20px;
}

/* --------------------------------------------------- */
/* --------------ICE-CREAM (NEWS) BLOCK------------- */
.wrapper_news_block {
  background-color: #FAF3E3;
}
.wrapper_news_block .news_grid {
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: 460px 460px;
  padding-top: 85px;
  gap: 125px;
}
.wrapper_news_block .news_grid .news_card_one_img1 {
  margin-bottom: 59px;
}
.wrapper_news_block .news_grid .news_title {
  font-family: Plumb;
  color: #2E373B;
  font-size: 30px;
  margin-bottom: 30px;
}
.wrapper_news_block .news_grid .news_title .news_link {
  font-family: Plumb;
  color: #2E373B;
  font-size: 21px;
  text-decoration-line: underline;
  margin-left: 40%;
}
.wrapper_news_block .news_grid .news_img_card {
  display: flex;
  margin-bottom: 38px;
  gap: 30px;
  align-items: center;
}
.wrapper_news_block .news_grid .news_img_card br {
  margin-top: 14px;
}
.wrapper_news_block .news_grid .news_img_card .news_img {
  max-width: 160px;
  max-height: 120px;
}
.wrapper_news_block .news_grid .news_img_card .news_img_date {
  font-family: Circe;
  font-size: 14px;
  color: #F6404F;
}
.wrapper_news_block .news_grid .news_img_card .news_img_title {
  font-family: Plumb;
  font-size: 18px;
  color: #2E373B;
  font-weight: 700;
}

/* --------------------------------------------------- */
/* ----------------------FOOTER----------------------- */
.wrapper_footer {
  width: 100%;
  background-color: #30BCC9;
}
.wrapper_footer .footer_blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 190px;
}
.wrapper_footer .footer_blocks .footer_block {
  max-width: 480px;
  height: 480px;
}
.wrapper_footer .footer_blocks .footer_block ul {
  margin-top: 40px;
}
.wrapper_footer .footer_blocks .footer_block h2 {
  font-family: Plumb;
  font-size: 21px;
  color: white;
  margin-bottom: 20px;
}
.wrapper_footer .footer_blocks .footer_block li {
  font-family: Circe;
  font-size: 14px;
  color: #E0E0E0;
  margin-bottom: 10px;
  list-style-type: none;
}
.wrapper_footer .footer_blocks .footer_block a {
  color: #E0E0E0;
  text-decoration: none;
}
.wrapper_footer .footer_blocks .footer_block a:hover {
  border-bottom: 2px solid white;
  padding: 1px;
}
.wrapper_footer .footer_blocks .footer_block a:visited {
  color: #E0E0E0;
}
.wrapper_footer .footer_blocks .footer_block .social_network_links a {
  margin-right: 30px;
}
.wrapper_footer .footer_blocks .footer_block .footer_block ul li input {
  width: 215px;
  height: 40px;
  border: none;
}
.wrapper_footer .footer_blocks .footer_block input::placeholder {
  font-family: Circe;
  font-size: 12px;
  color: #9C9C9C;
  padding-left: 20px;
}
.wrapper_footer .footer_blocks .footer_block .input {
  display: flex;
}
.wrapper_footer .footer_blocks .footer_block .subscribe_btn {
  width: 40px;
  height: 40px;
  background-color: #F6404F;
}
.wrapper_footer .footer_blocks .footer_block .subscribe_btn:hover {
  border: 1px solid white;
  background: none;
  text-decoration-line: none;
  height: 37px;
  width: 37px;
}
.wrapper_footer .footer_blocks .footer_block .subscribe_btn img {
  margin-top: 12px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

/* --------------------------------------------------- */

/*# sourceMappingURL=style.css.map */
